.about-container{
    grid-template-columns: 1fr;
    gap: 3rem;
}

.about{
    margin: 0;
}
.about-container > *:first-child{
    grid-row: 1 /span 1;
}
.navbar .social{
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}
#home-container{
    grid-template-columns: repeat(2, 1fr);
}
#home-container>:first-child,
#home-container>:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-column: 1 /span 2;
    align-items: center;
}
#home-container>:last-child{
    grid-row: 4 /span 1;
}
.footer{
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.footer> *:last-child{
    grid-column: 1 / span 2;
}

@media(max-width:600px){
    #home-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #home-container>:first-child,
    #home-container>:last-child{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        grid-column: 1 /span 1;
        align-items: center;
    }
    #home-container>:last-child{
        grid-row: 4 /span 1;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    .footer> *:last-child{
        grid-column: 1 / span 1;
    }
    .footer div{
        padding-bottom: 1rem;
        border-bottom: 1px solid #444;
    }
    .showcase{
        height: 70vh; 
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .navbar .social{
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
        margin: 1rem 0rem;
        margin-bottom: 2.5rem;
    }
    .navbar ul{
        justify-self: center;
        height: 100%;
        margin: 0.3rem;
    }
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-container > *:first-child{
        grid-row: 1 /span 1;
    }
    .about-container .card .l-heading{
        font-size: 2.5rem;
    }
}
@media(max-width:290px){
    .about-container .card .l-heading{
        font-size: 2.3rem;
    }
}